* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Muli", sans-serif;
}
.main {
  flex-grow: 1;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
